"*":
  "Remote-FTP":
    hideLocalWhenDisplayed: true
  "activate-power-mode":
    particles:
      size: {}
      spawnCount: {}
      totalCount: {}
    screenShake:
      enabled: false
  aligner:
    ":-alignment": "left"
    alignComments: true
  "atom-black": {}
  "atom-clock":
    dateFormat: "[ ]LT"
    refreshInterval: 1
    showClockIcon: true
  "atom-easy-jsdoc":
    beta: true
    useReturns: true
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnType: false
    "atom-ide-datatip":
      datatipDebounceDelay: 100
    "atom-ide-diagnostics-ui":
      showDiagnosticTraces: true
      showDirectoryColumn: true
    "atom-ide-find-references":
      defaultLocationForPane: "center"
    "atom-ide-terminal":
      cursorBlink: true
      cursorStyle: "bar"
      fontFamily: "Fira Code, courier-new, courier, monospace"
      lineHeight: 1
    "debugger-exceptionBreakpointsCollapsed": false
    use:
      "atom-ide-busy-signal": "always"
      "atom-ide-code-actions": "always"
      "atom-ide-code-format": "always"
      "atom-ide-code-highlight": "always"
      "atom-ide-console": "always"
      "atom-ide-datatip": "always"
      "atom-ide-debugger": "always"
      "atom-ide-definitions": "always"
      "atom-ide-diagnostics": "always"
      "atom-ide-diagnostics-ui": "always"
      "atom-ide-find-references": "always"
      "atom-ide-global": "always"
      "atom-ide-outline-view": "always"
      "atom-ide-refactor": "always"
      "atom-ide-signature-help": "always"
      "atom-ide-terminal": "always"
      hyperclick: "always"
  "atom-itunes":
    itunesRefreshInterval: 100
    showEqualizer: false
    showNotes: true
  "atom-jest-snippets":
    toggleSemicolons: false
  "atom-minify":
    jsMinifier: "UglifyJS2"
  "atom-minimap-titles":
    font: "ANSI Shadow"
  "atom-package-deps":
    ignored: [
      "linter-erb"
      "linter-js-standard"
      "linter-alex"
      "prettier-atom"
      "linter-swiftlint"
      "minimap-linter"
    ]
  "atom-typescript":
    unusedAsInfo: false
  "atom-webbrowser":
    homepage: "https://www.duckduckgo.com"
  "auto-copyright":
    owner: "Jed Fox"
    template: "Copyright © %y by %o."
  "autocomplete-modules":
    webpack: true
  "autocomplete-plus": {}
  "autocomplete-python":
    extraPaths: "~/Webspace/.local/lib/python2.6/site-packages"
    useKite: false
    useSnippets: "required"
  autoprefixer: {}
  "bracket-matcher": {}
  "browser-plus":
    currentFile: false
    homepage: "https://duckduckgo.com"
  "character-table":
    mnemonicAllowReversed: false
  "color-picker":
    preferredFormat: "HSL"
    uppercaseColorValues: true
  core:
    closeDeletedFileTabs: true
    customFileTypes:
      "source.diff": [
        "patch"
      ]
      "source.gfm": [
        "mdx"
      ]
      "source.gitignore": [
        "prettierignore"
      ]
      "source.js": [
        "js.snap"
      ]
      "source.json5": [
        "eslintrc"
      ]
      "source.less": [
        "variables"
        "overrides"
      ]
      "source.ruby": [
        "ev"
      ]
    debugLSP: true
    disabledPackages: [
      "background-tips"
      "double-bond"
      "metrics"
      "diff-pane"
      "markdown-preview"
      "build"
      "build-gulp"
      "jsdoc-generator"
      "django-templates"
      "atom-minify"
      "todo-manager"
      "status-display"
      "language-python"
      "linter-flake8"
      "tree-view-git-branch"
      "language-json"
      "tester-jest"
      "tester"
      "new-tab"
      "tool-bar-almighty"
      "emmet"
      "ide-ruby"
      "tab-preview"
      "mprettier"
      "jumpy"
      "color-picker"
    ]
    ignoredNames: [
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "*.pyc"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "iso8601-timestamp"
      "terminal-plus"
      "tool-bar-main"
      "tool-bar"
      "atom-live-server"
      "language-git"
      "linter-jshint"
      "activate-power-mode"
      "platformio-ide-terminal"
      "allcontributors"
      "mojave-dark-mode"
      "x86-assembly-highlighter"
    ]
    projectHome: "~/atom-projects/"
    restorePreviousWindowsOnStart: "always"
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    titleBar: "custom-inset"
    warnOnLargeFileLimit: 5
  "css-specificity": {}
  "django-templates":
    defaultToDjangoTemplatesForFilePathsContaining: [
      "templates/"
    ]
  "double-tag": {}
  editor:
    backUpBeforeSaving: true
    fontFamily: "Fira Code, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 13
    invisibles:
      eol: " "
      space: " "
    nonWordCharacters: "/\\()\"':,.;<>~!@#%^&*|+=[]{}`?-…"
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "777b183b-ac39-9d28-a691-638aaf1fd4b4"
  "export-html":
    lineNumber: {}
    openIn: "browser"
  "file-hyperclick":
    extension: ".js"
  filesize:
    KibibyteRepresentation: false
  "flow-ide": {}
  "foldername-tabs": {}
  "fuzzy-finder":
    ignoredNames: [
      "node_modules"
    ]
    preserveLastSearch: true
    scoringSystem: "fast"
    useRipGrep: true
  "git-plus":
    commits: {}
    diffs:
      wordDiff: true
    experimental: {}
    general:
      _analyticsUserId: "cf3fb907-e237-4aef-b05a-53dd1a7cefcb"
      splitPane: "Right"
    remoteInteractions:
      pullRebase: true
  "git-status": {}
  github: {}
  "highlight-bad-chars":
    whitelist:
      characters: "“”‘’–—"
  "highlight-selected":
    hideHighlightOnSelectedWord: true
  hyperclick: {}
  "hyperlink-hyperclick": {}
  "ide-flowtype":
    tryFlowBin: true
  "ide-python":
    pylsPlugins:
      jedi_symbols:
        all_scopes: true
      mccabe:
        enabled: false
      pycodestyle:
        enabled: false
      pydocstyle: {}
      pyflakes:
        enabled: false
      yapf:
        enabled: false
  "ide-ruby":
    lintLevel: "1"
  "ide-typescript":
    typeScriptServer:
      path: "/usr/local/bin/tsserver"
  "js-hyperclick":
    extensions: [
      ".js"
      ".jsx"
      ".json"
      ".node"
      ".ts"
      ".tsx"
    ]
    usePendingPanes: true
  "jsdoc-generator": {}
  jumpy:
    highContrast: true
  "language-babel":
    autoIndentJSX: true
    taggedTemplateGrammar: [
      "\"(?<=<style jsx>{)|(?<=<style jsx global>{)\":source.css.styled"
    ]
  "language-dotenv":
    dotenvFileNames: [
      ".env"
      ".env.production"
      ".env.development"
      ".env.test"
      ".env.public"
      ".env.sample"
    ]
  "lcov-info":
    coveredType: "Uncovered Lines Only"
    highlightType: "gutter"
  linter: {}
  "linter-alex": {}
  "linter-eslint":
    advanced:
      eslintRulesDirs: [
        "eslint-rules"
      ]
    autofix:
      fixOnSave: true
      ignoreFixableRulesWhileTyping: true
    disabling:
      rulesToSilenceWhileTyping: [
        "no-trailing-spaces"
        "eol-last"
      ]
    global:
      globalNodePath: "~/.nvm/versions/node/v8.9.0"
    scopes: [
      "source.js"
      "source.jsx"
      "source.js.jsx"
      "source.babel"
      "source.js-semantic"
      "source.ts"
      "source.tsx"
    ]
  "linter-flake8":
    disableTimeout: true
  "linter-js-standard":
    checkStyleDevDependencies: true
    lintHtmlFiles: true
    lintMarkdownFiles: true
    showEslintRules: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
    executablePath: "jshint"
    lintInlineJavaScript: true
    lintJSXFiles: true
  "linter-pep8":
    convertAllErrorsToWarnings: false
  "linter-pylama":
    interpreter: "python3"
    pylamaVersion: "external"
    usePep257: false
    usePep8: false
  "linter-pylint": {}
  "linter-python":
    executablePath: "/Library/Frameworks/Python.framework/Versions/3.5/bin/pylama"
    lintTrigger: "File modified"
    withMcCabe: true
    withPep257: true
    withPep8: true
    withPyflakes: true
    withPylint: true
  "linter-tidy": {}
  "linter-tslint":
    enableSemanticRules: true
  "linter-ui-default":
    showPanel: true
    tooltipFollows: "Keyboard"
  "linter-write-good":
    severityLevel: "info"
  "markdown-preview":
    liveUpdate: false
  "markdown-preview-plus":
    mathConfig:
      enableLatexRenderingByDefault: true
    useGitHubStyle: true
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      codeglance: false
      codeglanceDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "minimap-codeglance":
    numberOfLines: 11
  "mojave-dark-mode": {}
  mprettier:
    formatOnSave:
      enable: true
      skipWhenPrettierConfigIsNotFound: true
    prettierToUseInOrder:
      globallyInstalled: true
  "new-tab": {}
  "one-light-ui": {}
  "open-recent": {}
  "package-reloader":
    targets: [
      "double-bond"
    ]
  "pdf-view":
    reverseSyncBehaviour: "Disabled"
  pigments:
    extendAutocompleteToColorValue: true
    groupPaletteColors: "by file"
    mergeColorDuplicates: true
    sortPaletteColors: "by name"
  "platformio-ide-terminal":
    core:
      scrollback: 10000000000
    style:
      theme: "inverse"
    toggles:
      runInsertedText: false
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNotInPackageJson: true
      respectEslintignore: false
      showInStatusBar: true
    prettierOptions:
      singleQuote: true
      trailingComma: "es5"
  "python-jedi":
    enablePython2: true
  react: {}
  "remove-whitespace": {}
  "ruby-block":
    showBottomPanel: false
  "spell-check": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "svg-preview":
    openPreviewAutomatically: true
  swackets:
    colorParens: true
    colors: [
      "#000000"
      "#662863"
      "#0e3b5c"
      "#139113"
      "#8f8f00"
      "#85370b"
      "#d95959"
    ]
  "tab-foldername-index":
    equalsNamesEnabled: false
  tabs:
    enableVcsColoring: true
  teletype: {}
  "terminal-plus":
    core:
      scrollback: 1000000000000000000
    style:
      theme: "inverse"
    toggles:
      autoClose: true
      runInsertedText: false
  "tester-jest": {}
  "tool-bar": {}
  "tree-view":
    hideIgnoredNames: true
    sortFoldersBeforeFiles: false
    squashDirectoryNames: true
  "tree-view-autoresize":
    animationMilliseconds: 0
    delayMilliseconds: 0
    minimumWidth: 144
    padding: 23
  "tree-view-filter": {}
  "tree-view-git-branch": {}
  "unity-ui":
    colorStatusIndicatorsInTreeView: true
    showIcons: true
  welcome:
    showOnStartup: false
  "word-jumper": {}
  "xatom-debug":
    showToolbarIcon: false
    toolbarStyle: "HeaderPanel"
".apache-config.source":
  editor:
    autoIndentOnPaste: true
    tabLength: 4
".fish.source":
  editor:
    tabType: "auto"
".json.source":
  editor:
    softWrap: true
".racket.source":
  editor:
    nonWordCharacters: "\",'`()[]{}|;#"
".scribble.source":
  editor:
    autoIndentOnPaste: true
